@charset "UTF-8";
/* styles */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-family: "ヒラギノ角ゴシックW3", sans-serif;
  color: #383e45;
  letter-spacing: 2px;
  line-height: 20px;
}

a {
  text-decoration: none;
  display: block;
}

h2 {
  font-size: 20px;
  line-height: 30px;
}

.__container {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

.__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: white;
  z-index: 2;
}

header .__container {
  max-width: 1200px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .__container .__left-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10px;
}

header .__container .__left-container img {
  width: 90px;
}

header .__container .__left-container p {
  font-size: 10px;
  font-weight: bold;
}

header .__container .__right-container {
  background: #da6b64;
  width: 80px;
  height: 60px;
  text-align: center;
}

header .__container .__right-container img {
  width: 20px;
  padding-top: 7px;
}

header .__container .__right-container a {
  color: white;
  padding-top: 5px;
  font-size: 13px;
}

.hi {
  display: none;
}

.scroll-top {
  position: fixed;
  display: block;
  right: 50px;
  bottom: 100px;
  background: #ececec;
  padding: 20px;
  z-index: 2;
}

.scroll-top img {
  width: 30px;
}

#__mainvisual {
  background: url("../img/mainsp.jpg") center/cover no-repeat;
}

#__mainvisual .__container {
  width: 300px;
  padding-bottom: 30px;
  padding-top: 80px;
}

#__mainvisual .__container img {
  width: 300px;
  padding: 40px 0;
}

#__mainvisual .__container p {
  font-size: 15px;
  font-weight: bold;
}

#__offer {
  background: #ebb94d;
}

#__offer .__container {
  max-width: 1024px;
  padding: 20px 0;
  padding-bottom: 20px;
  color: white;
  line-height: 25px;
}

#__offer .__container #__notice {
  background: #f9f2f4;
  color: #c7254e;
  font-size: 12px;
  width: 370px;
  margin: 10px auto;
  border-radius: 5px;
}

#__offer .__container #__notice p {
  line-height: 20px;
}

#__offer .__container .__btn {
  color: white;
  background-color: #da6b64;
  width: 95%;
  margin: 25px auto;
  padding: 20px 0;
  border-radius: 50px;
  line-height: 35px;
  font-weight: bold;
  font-size: 20px;
}

#__offer .__container .__context p + p {
  padding-top: 20px;
}

#__target {
  background: url(../img/introbottom.jpg) center/cover no-repeat;
}

#__target .__container {
  width: 95%;
  margin-top: 20px;
  padding-bottom: 100px;
}

#__target .__container p {
  padding-bottom: 50px;
  line-height: 25px;
}

#border-yellow {
  font-weight: bold;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, #ebb94d)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 70%, #ebb94d 0%) repeat scroll 0 0;
}

#__about {
  background-color: #fdf5e0;
  position: relative;
}

#__about .__container {
  padding: 20px 0;
  width: 90%;
}

#__about .__container > h3 {
  font-size: 15px;
  line-height: 25px;
  padding: 10px 0 30px 0;
}

.__about-circle {
  width: 60px;
  height: 60px;
  font-size: 12px;
  position: absolute;
  background: #ebb94d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #ebb94d;
  border-radius: 50%;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.__box1 {
  border: solid 2px #ebb94d;
  border-radius: 5px;
  background-color: white;
  padding: 5px 20px 20px 20px;
  font-size: 10px;
}

.__box1 > h3 {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 10px;
}

.__box1 .__flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.__box1 .__flex .__flex-item {
  text-align: center;
  width: 120px;
}

.__box1 .__flex .__flex-item img {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.__box1 .__flex .__flex-item p {
  font-size: 12px;
  line-height: 20px;
}

#__work span {
  color: #ebb94d;
}

#__work {
  background: url(../img/aboutsecondbgsp.jpg) center/cover no-repeat;
}

.__above-container .__container > h2 {
  color: white;
  padding-top: 40px;
}

.__above-container .__container > p {
  color: white;
  padding-top: 20px;
}

.__step {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0 20px 0;
  border-radius: 5px;
}

.__step h3 {
  font-size: 13px;
  padding-top: 10px;
}

.__step p {
  font-size: 12px;
}

.__step-item {
  background-color: #ebb94d;
  width: 80%;
  margin: 10px auto;
  padding: 3px 0;
  color: white;
  border-radius: 5px;
}

.__below-container {
  background-color: #036ea9;
  padding: 20px 0;
  color: white;
  font-size: 13px;
  line-height: 20px;
}

#__learn .__container {
  width: 80%;
}

#__learn .__container h2 {
  padding: 50px 0;
}

#__learn .__container h2 span {
  font-size: 10px;
}

#__learn .__container p {
  line-height: 25px;
  padding-bottom: 20px;
}

#__learn img {
  width: 90%;
  max-width: 120px;
}

.__learns {
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__learns-item {
  width: 400px;
  text-align: center;
}

#bottom-text {
  font-weight: bold;
  font-size: 13px;
  padding: 10px 0 20px 0;
}

#__benefit {
  background-color: #fdf5e0;
}

#__benefit .__container {
  width: 95%;
  padding-bottom: 30px;
}

.__key p, .__key-white p {
  font-weight: bold;
}

.__bene-item img {
  padding-top: 20px;
  width: 100%;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

.__bene-item h3 {
  color: #ebb94d;
  padding: 20px 0;
}

.__bene-item p {
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  width: 90%;
  margin: 0 auto;
}

#__future {
  margin: 20px;
}

#__future h2 {
  color: #ebb94d;
  padding-bottom: 10px;
}

#__future p {
  line-height: 15px;
}

#__benefit .__container > p {
  font-size: 13px;
}

#__member {
  color: white;
  background: url(../img/teacherbgsp.jpg) center/cover no-repeat;
}

#__member .__container {
  padding: 70px 0;
  width: 95%;
}

#__member .__container > p {
  padding: 40px 0;
  line-height: 20px;
}

#__member .__container p {
  font-size: 12px;
}

.__box2 {
  padding-top: 30px;
  margin-top: 120px;
  line-height: 20px;
  border: solid 2px white;
  position: relative;
}

.__box2 p {
  padding-bottom: 20px;
}

.__box2 p + p + p {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

.d img {
  border-radius: 50%;
}

.__box2 img {
  width: 130px;
  height: 130px;
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#__question {
  background-color: #ebb94d;
}

#__question .__container {
  padding: 20px 0;
  width: 95%;
}

#__question .__container .p {
  color: white;
}

#__question .__container .p::before {
  border-left: solid 4px white;
  border-top: solid 4px white;
  top: 0;
  left: 0;
}

#__question .__container .p::after {
  border-right: solid 4px white;
  border-bottom: solid 4px white;
  bottom: 0;
  right: 0;
}

#__question .__container .p h2 {
  font-size: 15px;
}

#__question {
  position: relative;
}

#__question:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 17px solid transparent;
  border-top: 17px solid #ebb94d;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebb94d;
}

/* #__companiesから */
#__companies .__container {
  width: 95%;
}

#__companies .__container > p {
  font-size: 13px;
}

#__companies .__container h2 {
  padding: 20px;
}

.__companies-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.__companies-flex img {
  width: 30%;
  border: solid 2px #ebb94d;
}

.__flex-right {
  color: gray;
  opacity: 0.8;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  padding-left: 20px;
  letter-spacing: 2px;
  font-style: italic;
}

.__light {
  text-decoration: underline;
  letter-spacing: 0px;
  padding-top: 20px;
  font-size: 17px;
  display: inline-block;
}

.__opa {
  opacity: 0.7;
  padding-top: 40px;
}

#__contents {
  background: url(../img/classbgsp.jpg) center/cover no-repeat;
}

#__contents .__container {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#__contents .__container h2 {
  color: white;
}

#__contents .__container p {
  color: white;
  padding: 25px;
  font-size: 13px;
}

#__contents .__container ul {
  display: inline-block;
  width: 95%;
  margin-top: 20px;
}

#__contents .__container ul li {
  list-style: none;
  padding: 15px 0;
}

#__contents .__container ul li + li {
  border-top: solid 1px silver;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border-left: solid 2px #036ea9;
  border-right: solid 2px #036ea9;
}

.h {
  border-radius: 0 0 10px 10px;
  border-bottom: solid 2px #036ea9;
}

.__blue {
  background-color: #036ea9;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.__support {
  background-color: #036ea9;
  color: white;
  padding: 30px 0;
  text-align: center;
  line-height: 25px;
}

.__support p {
  width: 95%;
  max-width: 570px;
  margin: 0 auto;
}

#__entering .__container {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#__entering .__container > h3 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.__acordion {
  margin-top: 10px;
}

dt {
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #fdf5e0;
  padding: 10px;
}

dt img {
  width: 35px;
  height: 35px;
  padding: 0 15px;
}

dt::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(../img/矢印アイコン\　下4.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

dt:hover {
  text-decoration: underline;
}

dl > div.is-open dt::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

dl > div.is-open dd {
  height: 250px;
  opacity: 1;
  visibility: visible;
}

dd {
  height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  background-color: #fdf5e0;
  -webkit-transition: .5s;
  transition: .5s;
}

dd p {
  padding-top: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

dd .__fade {
  font-weight: normal;
  opacity: 0.7;
  padding-bottom: 20px;
}

#__reason {
  background: url(../img/bangkokbgsp.jpg) center/cover no-repeat;
}

#__reason .__container {
  width: 90%;
  padding: 30px 0;
  margin: 0 auto;
  text-align: left;
  color: white;
}

#__reason .__container h2 {
  text-align: center;
  padding: 20px 0;
}

#__reason .__container p, #__reason .__container li {
  font-size: 12px;
  padding-bottom: 20px;
  list-style: none;
}

#__bonus {
  background: #f7c23b;
}

#__bonus .__container {
  width: 95%;
  color: white;
  line-height: 20px;
  padding-bottom: 20px;
}

#__bonus .__container h2 {
  color: #383e45;
  padding: 30px 0;
}

#__bonus .__container p {
  font-size: 13px;
}

#__bonus .__container span {
  color: #383e45;
}

.__bonus-box {
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

.__bonus-box .__box-title {
  position: absolute;
  padding: 0 20px;
  color: #383e45;
  background: #f7c23b;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.__bonus-box .__box-title h2 {
  font-size: 15px;
}

.__box-flex {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__box-flex > p {
  text-align: left;
  width: 70%;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 30px;
}

.__n-circle {
  width: 60px;
  height: 60px;
  border: solid 1px white;
  border-radius: 50%;
  color: #ebb94d;
  background: white;
  font-size: 13px;
  position: relative;
}

.__n-circle p {
  position: absolute;
  top: 19px;
  left: 10px;
}

#__philosophy {
  background: url(../img/specialdetailsp.jpg) center/cover no-repeat;
}

#__philosophy .__container {
  margin: 0 auto;
  width: 95%;
  color: white;
  line-height: 20px;
  padding: 50px 0;
}

#__philosophy .__container p {
  font-size: 13px;
  padding: 30px 0;
}

#__message .__container {
  width: 95%;
  padding: 50px 0;
  line-height: 20px;
}

#__message .__container img {
  width: 100%;
}

.__sub {
  padding-top: 50px;
  padding-bottom: 20px;
}

.__explain {
  text-align: left;
  font-size: 13px;
}

.__explain p {
  padding-top: 10px;
}

.__explain ul {
  padding: 30px 0;
}

.__explain li {
  list-style: none;
}

#__form {
  background: #ebb94d;
}

#__form .__container {
  width: 95%;
}

#__form .__container h3 {
  padding: 40px 0;
}

#__form .__container p {
  padding-bottom: 30px;
  font-size: 13px;
}

input {
  width: 97%;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid white;
}

input::-webkit-input-placeholder {
  padding: 20px;
  opacity: 0.7;
}

input:-ms-input-placeholder {
  padding: 20px;
  opacity: 0.7;
}

input::-ms-input-placeholder {
  padding: 20px;
  opacity: 0.7;
}

input::placeholder {
  padding: 20px;
  opacity: 0.7;
}

textarea {
  width: 97%;
  height: 100px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid white;
}

textarea::-webkit-input-placeholder {
  color: gray;
  opacity: 0.6;
  padding: 6px;
  font-size: 15px;
}

textarea:-ms-input-placeholder {
  color: gray;
  opacity: 0.6;
  padding: 6px;
  font-size: 15px;
}

textarea::-ms-input-placeholder {
  color: gray;
  opacity: 0.6;
  padding: 6px;
  font-size: 15px;
}

textarea::placeholder {
  color: gray;
  opacity: 0.6;
  padding: 6px;
  font-size: 15px;
}

#submit {
  height: 55px;
  margin: 40px 0;
  background: #da6b64;
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 25px;
  border: 1px solid #da6b64;
  border-radius: 40px;
  cursor: pointer;
}

#__often-questions .__container {
  width: 95%;
  margin: 20px auto;
}

.__question-bar {
  background: white;
  border: solid 1px silver;
  font-size: 15px;
}

.__question-bar::after {
  top: 10px;
  right: 10px;
  opacity: 0.5;
}

.__question-explain {
  background: white;
}

dl > div.is-open .__question-explain {
  height: auto;
  padding: 10px 0 30px 0;
}

.question-mark {
  color: #1474ad;
}

footer {
  font-size: 13px;
  background: #ececec;
}

footer .__container {
  padding-top: 20px;
  padding-bottom: 5px;
}

footer .__container p + p {
  margin-top: 30px;
}

footer a {
  display: inline;
  color: #036ea9;
}

.tw-container {
  padding-top: 5px;
  margin-bottom: 30px;
}

/* mixin */
.__key, .__key-white {
  padding: 30px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.__key h2, .__key-white h2 {
  line-height: 40px;
}

.__key::before, .__key-white::before, .__key::after, .__key-white::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
}

.__key::before, .__key-white::before {
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  top: 0;
  left: 0;
}

.__key::after, .__key-white::after {
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  bottom: 0;
  right: 0;
}

.__key-white::before {
  border-left: solid 4px white;
  border-top: solid 4px white;
}

.__key-white::after {
  border-right: solid 4px white;
  border-bottom: solid 4px white;
}

/* responsive */
@media screen and (min-width: 900px) {
  header {
    height: 72px;
  }
  header .__container {
    height: 100%;
  }
  .__left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .__left-container p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 27px;
  }
  .__left-container #header-logo {
    width: 130px;
  }
  .__right-container {
    display: none;
  }
  .hi {
    display: block;
  }
  #sp-header-right {
    background: #da6b64;
    color: white;
    padding: 15px 40px;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 30px;
    font-size: 13px;
  }
  #__mainvisual {
    height: 570px;
    background: url(../img/main.jpg) center/cover no-repeat;
  }
  #__mainvisual .__container {
    width: 400px;
    padding-top: 170px;
  }
  #__mainvisual .__container h2 {
    font-size: 25px;
    line-height: 40px;
  }
  .__btn {
    padding: 10px 0;
  }
  .__box1 .__flex .__flex-item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 130px;
  }
  .__box1 .__flex .__flex-item img {
    height: 50px;
  }
  .__step-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 20px;
  }
  .__step {
    text-align: center;
    margin: 20px 10px;
    line-height: 30px;
  }
  .__below-container {
    font-size: 20px;
    line-height: 25px;
  }
  #__learn img {
    max-width: 180px;
    padding: 0 10px;
    margin: 20px 0;
  }
  .__bene-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .__bene-item {
    width: 32%;
  }
  .__bene-item img {
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */